@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  --bg: #1c0040;
  --bg2: #31066b;
  --primary: #6a29f7;
}

* {
  box-sizing: border-box;
  font-family: 'Open Sans';
}